
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common
@using X.PagedList;
<section class="content">

<!-- Main row -->
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                List Product
            </header>
                @if (ViewBag.mess != null)
                {
                    <div class="alert alert-success">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <strong>Well done!</strong> @ViewBag.mess
                    </div>
                }
            @using (Html.BeginForm("Product", "Admin", FormMethod.Get))
            {
                <div class="input-group">
                    <input type="text" name="search" value="@ViewBag.search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <input type="submit" class="btn btn-primary" value="Search" />
                </div>
            }
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th>Status</th>
                            @if (User.IsInRole("Marketing"))
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.lstProduct)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td><img class="media-object" src="~/images/product-details/product/@item.ProductImage" /></td>
                                <td style="padding-top:40px">@item.ProductName</td>
                                @foreach (var j in ViewBag.lstColor)
                                {
                                        if (item.ColorId == j.ColorId)
                                    {
                                            <td style="padding-top:40px">@j.ColorName</td>
                                    }
                                }
                                <td style="padding-top:40px">@item.ProductPrice$</td>
                                @foreach (var k in ViewBag.lstStatusProduct)
                                {
                                        if (item.StatusProductId == k.StatusProductId)
                                    {
                                                        <td style="padding-top:40px">@k.StatusProductStatus</td>
                                    }
                                }
                                <td style="padding-top:40px">
                                    <div class="pull-right hidden-phone">
                                        <a href="~/Admin/EditProduct?Id=@item.ProductId"><button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button></a>
                                        <a href="~/Admin/DeleteProduct?Id=@item.ProductId" onclick="alert(confirm('Bạn có muốn xóa sảm phẩm?'))"><button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button></a>
                                    </div>
                                </td>
                                
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            @Html.PagedListPager((IPagedList)ViewBag.lstProduct, page => Url.Action("Product", new { page }))
            
        </section>
        <div class=" add-task-row">
            <a class="btn btn-success btn-sm pull-left" href="/Admin/AddProduct">Add New Product</a>
        </div>
    </div><!--end col-6 -->
</div>
<!-- row end -->
            </section><!-- /.content -->
<div class="footer-main">
    Copyright &copy Director, 2022
</div>
                
